<!-- <*ngFor="let todo of list"> -->
<div *ngFor="let todo of list"  class="row">

    <div class="col-md-10">
        <input type="checkbox" id="checkbox{{todo.id}}" [checked]="isDisabled"  />
        <label for="{{todo.lname}}" style="margin-left: 20px;">{{todo.lname}}</label>

    </div>
    <div class="col-md-2">

        <!-- <i class="fa-solid fa-trash"></i> -->
        <input type="button" value="Remove" id="button{{todo.id}}" class="btn btn-outline-secondary" (click)="delete(todo)" />
        <ng-content></ng-content>
    </div>
    <!--  *ngIf="isDisabled" <p>{{todo.id}}</p> -->
</div>